{% extends "base.html" %}
{% block title %}index{% endblock %}
{% load staticfiles %}
{% block body %}
    <nav class="navbar nv justify-content-between">
      <a href="/index/">
        <img src="{% static 'img/logo.svg' %}" style="width:30px;">
      </a>
      <div class="circular--landscape">
        <img src="{% static 'img/ava.png' %}">
      </div>
    </nav>
    <div class="div">
      <div class="row" style="margin-top:10rem; margin-bottom:3rem">
        <div class="col d-flex align-items-center flex-column">
          <a href="">
            <img src="{% static 'img/voip.svg' %}" style="width: 200px;">
          </a>
          <a class="btn-link" href="#" style="text-decoration:none; margin-top: 2rem">VOIP</a>
        </div>
        <div class="col d-flex align-items-center flex-column">
          <a href="/vigilancia/">
            <img src="{% static 'img/surv.svg' %}" style="width: 200px">
          </a>
          <a class="btn-link" href="" style="text-decoration:none; margin-top: 2rem">Vigilancia</a>
        </div>
        <div class="col d-flex align-items-center flex-column"><a href="#">
          <img src="{% static 'img/ftp.svg' %}" style="width: 200px">
        </a>
          <a class="btn-link" href="#" style="text-decoration:none; margin-top: 2rem">Transferencia de archivos</a>
        </div>
      </div>
    </div>
{% endblock %}
