{% extends "base.html" %}
{% block title %}vigilancia{% endblock %}
{% load staticfiles %}
{% block body %}
    <nav class="navbar nv justify-content-between">
      <a href="/index/">
        <img src="{% static 'img/logo.svg' %}" style="width:30px;">
      </a>
      <div class="dropdown" style="height:40px">
        <div class="circular--landscape dropdown-toggle dropbtn" type="button" data-toggle="dropdown" onclick="myFunction()">
          <img src="{% static 'img/ava.png' %}">
        </div>
        <div class="dropdown-content" id="myDropdown">
          <label href="#" style="padding: 1rem 1rem">angel.rubio@gmail.com</label>
          <a href="/logout/">Cerrar sesión</a>
        </div>
      </div>
    </nav>
    <div class="side-nav d-flex flex-column" id="side-menu">
      <!--De stackoverflow-->
      <!-- Tabs BS-->
      <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist" style="padding-top:1rem">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Departamentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Usuarios</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="d-flex flex-column" style="padding-left:2.5rem; padding-top:1rem">
            <label>Departamento 1</label>
            <label>Departamento 1</label>
            <label>Departamento 1</label>
            <label>Departamento 1</label>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="d-flex flex-column" style="padding-left:2.5rem; padding-top:1rem">
            <label>Usuario 1</label>
            <label>Usuario 1</label>
            <label>Usuario 1</label>
            <label>Usuario 1</label>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center" id="main">
      <img src="{% static 'img/logo.svg' %}" style="width:100px;">
    </div>
{% endblock %}
{% block scripts %}
    <script>
      function openSlideMenu(){
      document.getElementById('side-menu').style.width = '250px';
      document.getElementById('main').style.marginLeft = '250px';
      }
      function closeSlideMenu(){
      document.getElementById('side-menu').style.width = '0';
      document.getElementById('main').style.marginLeft = '0';
      }

    </script>
    <script>
      function myFunction(){
      document.getElementById("myDropdown").classList.toggle("show");
      }
      // Close the dropdown if the user clicks outside of it
      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
    </script>
{% endblock %}
